.logo {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  width: 146px;
  height: 60px;
}
.dots {
  display: grid;
  grid-template-columns: repeat(3, 4px);
  grid-template-rows: repeat(3, 4px);
  gap: 10px;
}
.dot {
  width: 2px;
  height: 2px;
  background-color: black;
  border-radius: 50%;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14px;
}
.text h1 {
  margin: 0;
  line-height: 1;
  letter-spacing: 0.05em;
  font-size: 7px;
}